// Importações
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda+One&display=swap');

// Váriaveis
:root{
  --nativeColor: rgb(236, 217, 186);
  --secondaryColor: rgb(197, 181, 155);
  --mainColor: rgb(255, 123, 22);
  --border: 1px solid var(--secondaryColor);
}

// Reset e definições globais
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  transition: all linear .2s;
  scroll-behavior: smooth;
}


// Página disponível apenas para dispositivos móveis
@media screen and (max-width:767px){

body{
  background-color: var(--nativeColor);
}

// Header
header{
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;

  background-color: var(--nativeColor);
}

header img{
  height: 90%;
  float: left;
  padding: 0 10px;
}

header h1{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;

  font-size: 18px;
  font-family: 'Staatliches';
  color: var(--mainColor);
}

header p{
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;

  font-size: 11px;
  color: var(--mainColor);
  font-family: 'Merienda One';
}
// Fim Header


// Banners
.sessaoBanners{
  width: 100%;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sessaoBanners .swiper{
  width: 100%;
  height: fit-content;
}

.sessaoBanners .swiper-slide img{
  width: 100%;
}

.sessaoBanners .swiper .swiper-pagination-bullet-active{
  background: var(--mainColor);
}
// Fim Banners


// Up Arrow
.botaoScroll{
  width: 40px;
  height: 40px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 1000;

  background-color: var(--mainColor);
  border-radius: 20px;
  cursor: pointer;
}

.botaoScroll img{
  width: 80%;
  height: 80%;
}
// Fim Up Arrow


// Seleção de menus
.sessaoSelecaoMenus{
  width: 100%;
  height: fit-content;
  display: flex;
  overflow-x: auto;
  align-items: center;
  padding: 30px 0 30px 10px;
  
  background-color: var(--nativeColor);
  color: white;
}

.sessaoSelecaoMenus .menus{
  height: fit-content;
  white-space: nowrap;
  padding: 15px 10px;
  margin-right: 10px;

  background-color: var(--mainColor);
  border-radius: 5px;
  font-size: 18px;
  font-family: 'Staatliches';
  cursor: pointer;
}

.sessaoSelecaoMenus::-webkit-scrollbar{
  display: none;
}

#botaoMenuPrincipal{
  background-image: url(../images/bandeira-do-panorama-com-porções-de-frango-grelhadas-picante-e-churrasco-ouro-servidas-ketchup-mostarda-em-papel-amassado-num-159326670.jpg);
  background-size: cover;
  background-color: none;
}

#botaoBebidasAlcoolicas{
  background-image: url(../images/drinques-bebida-alcoolica-tequila-cerveja-chopp-gim-martini-alcool-copos-tacas-1663094165597_v2_900x506.jpg);
  background-size: cover;
}

#botaoBebidasNaoAlcoolicas{
  background-image: url(../images/sonhar-com-Refrigerante.jpg);
  background-size: cover;
  background-position: center;
}

#botaoSobremesas{
  background-image: url(../images/petit-gateau-1920x1080.png);
  background-size: cover;
}

// Fim seleção de menus


// Design Seleção Submenus
.selecionarSubsessoesContainer{
  display: flex;
  overflow-x: auto;
}

.subsessao{
  height: fit-content;
  white-space: nowrap;
  padding: 6px 12px;

  border: var(--border);
  background-color: var(--nativeColor);
  font-size: 18px;
  font-family: 'Staatliches';
  font-weight: bold;
  cursor: pointer;
}

.selecionarSubsessoesContainer::-webkit-scrollbar{
  display: none;
}
// Fim Design Seleção Submenus


//Observações
.observacoes{
  width: 100%;
  height: fit-content;
  display: flex;
  padding: 10px;

  background-color: var(--nativeColor);
  border-bottom: var(--border);
}

.observacoes p{
  text-align: left;

  font-size: 11px;
  font-family: 'Merienda One';
  color: black;
}
// Fim Observações


//items cardápio
.item{
  width: 100%;
  height: 90px;
  position: relative;

  background-color: var(--nativeColor);
  border-bottom: var(--border);
}

.textoContainer{
  height: 100%;
  width: calc(100% - 90px);
  padding: 5px;
  float: left;
  text-align: left;
}

.imagemContainer{
  height: 100%;
  width: 90px;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imagemContainer img{
  height: 85%;
  width: 85%;
  border-radius: 5px;
}

.descricao{
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  
  font-size:11px;
  font-family: 'Merienda One';
  font-weight: 300;
  line-height: 1.3;
  color: black;
}

.preco{
  position: absolute;
  right: 5px;
  bottom: 5px;

  font-size: 15px;
  font-family: 'Staatliches';
  color: black;
  font-weight: bold;
}

.nomePorcao{
  font-size: 18px;
  font-family: 'Staatliches';
  color: black;
}
// Fim items cardápio


//Galeria
.galeriaPorcoes{
  overflow: hidden;
  padding: 30px 0;

  background-color: var(--nativeColor);
}
.galeriaPorcoes .swiperGaleria {
  width: 100%;
  height: 100%;
}

.galeriaPorcoes .swiper-slide {
  height: 70vw;
  width: 70vw;
}

.galeriaPorcoes .swiper-slide img {
  width: 100%;
  height: 100%;
}
// Fim Galeria 


// Menu Principal
#menuPrincipal{
  display: none;
}

#porcoes{
  display: none;
}

#pratos{
  display: none;
}

#feijoada{
  display: none;
}

#destaques{
  display: none;
}

#lanches{
  display: none;
}

#novidades{
  display: none;
}
// Fim Menu principal

// Bebidas Alcoolicas
#bebidasAlcoolicas{
  display: none;
}

#caipirinhas{
  display: none;
}

#cervejas{
  display: none;
}

#chopp{
  display: none;
}

#gin{
  display: none;
}

#drinks{
  display: none;
}

#combos{
  display: none;
}

#destilados{
  display: none;
}
// Fim Bebidas Alcoolicas

// Bebidas Nao Alcoolicas
#bebidasNaoAlcoolicas{
  display: none;
}

#refrigerantes{
  display: none;
}

#energeticos{
  display: none;
}

#drinksSemAlcool{
  display: none;
}

#sucos{
  display: none;
}

#agua{
  display: none;
}

#gelo{
  display: none;
}
// Fim Bebidas Nao Alcoolicas

// Sobremesas
#sobremesas{
  display: none;

  border-top: var(--border);
}
// Fim Sobremesas


// Footer
footer{
  padding: 20px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: left;

  text-align: left;
  background-color: var(--nativeColor);
  border-top: var(--border);
}

footer p{
  font-size: 10px;
  color: black;
}

footer a{
  width: fit-content;
  height: fit-content;
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  
  text-align: left;
  text-decoration: none;
}

footer a img{
  width: 20px;
  height: 20px;
  margin: 5px;
}
// Fim footer
}